<!DOCTYPE html>
<html lang="ro">
<head>
	<link href="https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="imag/favicon.ico"/>
	<title>Istoric</title>
	<meta charset="UTF-8">
	<meta name="description" content="Istoricul conventiei ">
	<meta name="keywords" content="Viitor, Trecut, Istoric">
	<meta name="author" content="Fictiv">
	<link rel="stylesheet" type="text/css" href="/Cssprincipal/Istoric.css"/>
	<link rel="stylesheet" type="text/css" href="/Cssprincipal/style.css"/>
	<link rel="stylesheet" type="text/css" href="/Cssprincipal/Evenimente.css"/>
	<script src="/Js/404.js"></script>
</head>
<body>
	<p>Ups, pagina nu a fost gasita, daca nu apasati STOP veti fi redirectionati in 3 secunde pe pagina principala</p>
</body>
</html>