<!DOCTYPE html>
<html lang="ro">
<head>
<link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="imag/favicon.ico"/>
	<title>Anime</title>
	<meta charset="UTF-8">
	<meta name="author" content="Fictiv">
	<meta name="description" content="Cateva informatii despre anime-uri. ">
	<meta name="keywords" content="Anime, Animatie">
	<link rel="stylesheet" type="text/css" href="/Cssprincipal/style.css"/>
	<link rel="stylesheet" type="text/css" href="/Cssprincipal/Evenimente.css"/>
	<link rel="stylesheet" type="text/css" href="/Cssprincipal/Anime.css"/>
</head>
<body>
<header>
<%- include("fragmente/header.ejs");%>
</header>

		<div class="barameniu">
		<div class="dr">Animefest</div>
	 <input type="checkbox" id="chk">
    <label for="chk" class="arata-meniu">
      <i class="fas fa-ellipsis-h"></i>
    </label>
		<a href="/">Pagina Principala</a>
		<a href="/Evenimente">Evenimente</a>
		<a href="/Istoric">Istoric</a>
		<a href="/Localizare">Localizare</a>
		<div class="derulare">
			<button class="dropbtn">Preturi bilete
				
			</button>
			<div class="derulare-content">
				<a href="/Preturi">Preturi pentru biletele actorilor</a>
				<a href="/zile">Preturi pentru biletele de acces</a>

			</div>
		</div>
		<div class="derulare">
			<button class="dropbtn">Altele
				
			</button>
			<div class="derulare-content">
				<a href="/cosplay">Cosplay</a>
				<a href="/Anime">Anime-uri</a>

			</div>
		</div> 
		<label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
	</div>
	<section>
	<div class="centru"><img src="imag/linie.png" width="800" height="100" alt="Linie" title="trandafir"></div>
		<div class="alb">
		<h2>Ce sunt anime-urile?</h2>
		<p>Anime (din cuvântul japonez アニメ anime, la rândul lui o abreviere a cuvântului englez animation, însemnând animație, pluralul corect fiind anime-uri [1]) reprezintă orice film de animație produsă în Japonia sau originară din aceasta.La originea acestui gen stau benzile desenate japoneze numite manga.<br>Cu toate că anime-ul este considerat uneori în mod eronat un "gen" (precum comedia, drama, etc.), în realitate este o formă de artă care include toate genurile întâlnite în literatură și cinema.[4] În Japonia filmele de animație sunt foarte îndrăgite, semnificativ fiind faptul că în anul 2001 filmul anime Spirited Away (Sen to Chihiro no Kamikakushi) a întrecut filmul Titanic.<br>Inițial anime-urile erau desenate manual, însă în ultimii ani tehnicile asistate de calculator practic s-au generalizat. Tehnicile anime sunt utilizate în seriale televizate, producții cinematografice și video, jocuri pentru computer, publicitate etc. În ce privește conținutul, formatul anime este utilizat în toate genurile ficționale. Chiar si obiectele fara viata se pot incadra intr-un peisaj anime + animalele.</p>
		</div>
		<div class="centru"><img src="imag/linie.png" width="800" height="100" alt="Linie" title="trandafir"></div>
	</section>
	<section>
		<div class="alb">
		<h2>Scurt istoric</h2>
		<div class="col">
			<p>Începutul secolului al XX-lea a marcat dezvoltarea proiectelor anime, odată cu experimentarea japoneză a tehnicilor animate explorate în Franța, Germania, Statele Unite ale Americii și Rusia.[8]<br>Ecranizarea celui mai vechi anime, “Namakura-gatana” (“An Obtuse Sword”), a avut loc în 1917[9]; filmul cu durata de două minute prezintă un samurai, care a fost păcălit să cumpere o sabie ruginită. Acesta încearcă să atace trecătorii, pentru a examina capacitățile sabiei, însă oamenii săraci s-au luptat cu el și l-au doborât.[10]<br>Anul 1930 devine anul când animația devine alternativa narării comparate cu industria subdezvoltată a actoriei (live-action). Spre deosebire de America, industria live-action rămâne în Japonia o piață mică, suferind de bugetări și restricții ale locațiilor și castingurilor. Lipsa actorilor vestici, de exemplu, a făcut aproape imposibile realizarea filmelor a căror acțiune se desfășoară în Europa, America sau lumi fantastice care nu implică Japonia. Animația le permitea artiștilor să creeze orice personaje și locații.<br>Succesul filmului Albă-ca-Zăpada și Cei Șapte Pitici al lui Disney din 1937 influențează animatorii japonezi.[11] Osamu Tezuka adaptase și simplificase numeroase tehnici de animație Disney pentru a reduce costurile și numărul cadrelor în producție. Această metodă a fost percepută ca o tehnică temporară care să îi permită producția într-un program fix cu personal neexperimentat. În timpul anilor '70, are loc o creștere a popularității seriilor manga, care ulterior au fost animate, în special cele create de Osamu Tezuka, care a fost numit o „legendă” și „zeul manga”.[12][13][14] Munca sa și a altor pionieri în domeniu au inspirat caracteristici și genuri care sunt elementele fundamentale ale animeului de astăzi. Genul robotic (cunoscut ca „Mecha” în afara Japoniei), de exemplu, luase formă prin Tezuka, se dezvoltase în genul Super Robotului prin Go Nagai și alții, și a fost revoluționat la sfârșitul deceniului de Yoshiyuki Tomino, care dezvoltaze genul Robotului Adevărat. Anime-urile cu roboți precum seriile Gundam și Macross au devenit clasice în anii '80, stilul robotic fiind cel mai comun în Japonia și restul teritoriilor. Perioada aceasta devine mai acceptată în mainstreamul japonez (deși mai puțin ca seriile manga) și cunoaște o expansiune în producție. Seriile anime cunosc expansiunea în magazinele de peste mări în anii '90 și chiar mai mult după anul 2000.</p>
		</div>
	</div>
	<div class="centru"><img src="imag/linie.png" width="800" height="100" alt="Linie" title="trandafir"></div>
	</section>
	<section>
		<div class="alb">
		<h2>Caracteristici vizuale</h2>
			<section>
				<h3>Designul personajelor</h3>
				<p>Proporțiile corpului în anime provin de la cele ale corpului uman. Înălțimea capului este considerată baza proporției. Acestea pot varia, cât timp restul corpului rămâne proporțional. Cele mai multe personaje au o înălțime de 7-8 capete, în timp ce înălțimile extreme sunt situate în jurul a 9 capete.<br>Variațiile proporției pot fi moderate. Caracteristicile personajelor chibi sau super deformate prezintă un corp mic, disproporționat, comparativ cu capul. Câteodată anumite părți ale corpului, cum ar fi picioarele, sunt alungite sau scurtate. Cele mai multe chibi au o înălțime de 2 până la 4 capete. Unele lucrări anime cum ar fi Crayon Shin-chan ignoră aceste proporții. Este destul că indică un desen vestic. Exagerările sunt evidențiate de creșterea proporțiilor unor părți ale corpului.</p>
			</section>
			<section>
				<h3>Tehnici de animatie</h3>
				<p>Anime-ul este bazat pe animația tradițională. În timp ce anime-ul este considerat o parte separată de desenele animate, anime încă mai utilizează multiple imagini statice în succesiune rapidă pentru a produce efectul vizual animat. Ca toate animațiile, producția începe cu storyboarding, dublajul, designul personajelor, etc. mai sunt aplicate. Cu îmbunătățiri ale tehnologiei computerizate, animația computerizată mărește eficiența întregului proces de producție.</p>
			</section>
		</div>
		<div class="centru"><img src="imag/linie.png" width="800" height="100" alt="Linie" title="trandafir"></div>
	</section>
	<article>
	<div class="alb">
		<h2>&#9836; Death parade &#9836;</h2>
		<p>Death Parade (Japanese: デス・パレード Hepburn: Desu Parēdo) is a 2015 Japanese anime television series created, written, and directed by Yuzuru Tachikawa and produced by Madhouse. The series spawned from a short film, Death Billiards (デス・ビリヤード Desu Biriyādo), which was originally produced by Madhouse for the Young Animator Training Project's Anime Mirai 2013 and released on March 2, 2013. The television series aired in Japan between January 9, 2015 and March 27, 2015. It is licensed in North America by Funimation and in the United Kingdom by Anime Limited, the latter of which was eventually cancelled. The series was obtained by Madman Entertainment for digital distribution in Australia and New Zealand.</p>
	</div>
	</article>
	<div class="centru">
	<video width="640" height="352" controls>
		<source src="Video/animatie.mp4" type="video/mp4">
	</video>
	</div>
	<footer>
<hr/>
<p>Data: <time>2019-10-21</time>
<a href="https://ro.wikipedia.org/wiki/East_European_Comic_Con">Mai multe informatii</a>
<a href="#">Sus</a>
</footer>
</body></html>