<!DOCTYPE html>
<html lang="ro">
<head>
	<link href="https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="imag/favicon.ico"/>
	<title>Evenimente</title>
	<meta charset="UTF-8">
	<meta name="author" content="Fictiv">
	<meta name="description" content="Evenimente ce se vor petrece la AnimeFest. ">
	<meta name="keywords" content="Concursuri, lol, warcraft">
	<link rel="stylesheet" type="text/css" href="/Cssprincipal/Evenimente.css"/>
	<link rel="stylesheet" type="text/css" href="/Cssprincipal/style.css"/>

</head>
<body>
<header>
<%- include("fragmente/header.ejs");%>
</header>

		<div class="barameniu">
		<div class="dr">Animefest</div>
	 <input type="checkbox" id="chk">
    <label for="chk" class="arata-meniu">
      <i class="fas fa-ellipsis-h"></i>
    </label>
		<a href="/">Pagina Principala</a>
		<a href="/Evenimente">Evenimente</a>
		<a href="/Istoric">Istoric</a>
		<a href="/Localizare">Localizare</a>
		<div class="derulare">
			<button class="dropbtn">Preturi bilete
				
			</button>
			<div class="derulare-content">
				<a href="/Preturi">Preturi pentru biletele actorilor</a>
				<a href="/zile">Preturi pentru biletele de acces</a>

			</div>
		</div>
		<div class="derulare">
			<button class="dropbtn">Altele
				
			</button>
			<div class="derulare-content">
				<a href="/cosplay">Cosplay</a>
				<a href="/Anime">Anime-uri</a>

			</div>
		</div> 
		<label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
	</div>
	<div class="centru"><p>Vizitatorii pot participa la <mark>concursuri</mark>, proiecții video și sesiuni speciale cu celebrități de filme și benzi desenate, precum și să cumpere produse specifice acestui tip de eveniment.Cele mai cunoscute concursuri sunt cele de costume Cosplay și Quiz. </p></div>
	<nav>
		<ol>
			<li><a href="#S1">Concursul de cosplay</a>
			<li><a href="#S2">Concursurile de jocuri</a>
		<ol>
			<li><a href="#S11"> Concursul de League of legends</a>
			<li><a href="#S3"> Concursul de World of warcraft</a>
		</ol>
			
			
		</ol>
	</nav>
	<section id="S1">
		<div class="alb"><h2>Concursul de cosplay</h2>
		<p>Concursul de costume Cosplay are participanții care joacă o piesă scurtă în timp ce poartă costumul unui personaj dintr-un comic, joc video, animație sau film, în timp ce imită gesturile și comportamentele personajului. Concursul Quiz este axat pe anime, manga, seriale TV, benzi desenate și jocuri video. O parte importantă a evenimentului este reprezentată de expozanții și competițiile de jocuri video de pe consolă. AnimeFest este cel mai mare eveniment de jocuri din România.</p>
	</div>
	</section>
	<section id="S2">
	<div class="centru"><img src="imag/linie.png" width="800" height="100" alt="Linie" title="trandafir"></div>
		<div class="alb"><h2>Concursurile de jocuri</h2>
		<section id="S11">
			<h3>Concursul de League of Legends</h3>
			<p>Toată lumea iubește campionii din League of Legends. Cu blănița lor albă și pufoasă, cu cornițele lor drăguțe
			și cu limbuțele fluturând mereu, nici n-ai cum să nu-i le iubești. Acum că am sosit la AnimeFest, vrem să organizam 
			un concurs în cadrul căruia membrii comunității desenează sau creează un poro cu următoarele teme: arcade, mafia, 
			lună sângerie sau justițiar.<br>Te interesează? Iată tot ce trebuie să știi pentru a lua parte la concurs: </p>
			<ul>
				<li>Vor exista 6 câștigători în total: 3 pentru desene, 3 pentru meșteșuguri;</li>
				<li>Lucrările trebuie să se potrivească uneia dintre temele arcade, mafia, lună sângerie sau justițiar (te rugăm să incluzi numele temei alese, în cazul în care nu e evidentă);</li>
				<li>Câștigătorii vor fi aleși de Rioteri (jucătorii nu vor mai vota de data asta);</li>
				<li>Nu există limită pentru numărul de lucrări pe care le poți trimite dar poți câștiga cu o singură lucrare, o singură dată;</li>
				<li>Termenul limită pentru înscrieri este 6 ianuarie 2015.</li>
			</ul>
			</section>
		</div>
		
		</section>
		<div class="centru"><img src="imag/linie.png" width="800" height="100" alt="Linie" title="trandafir"></div>
	
		<section id="S3">
			<div class="alb"><h3>Concursul de World of warcraft</h3>
			<p>Cu siguranta majoritatea iubitorilor de strategie le va suna cunoscut acest nume :Warcraft.<br>O mica idee a jocului ar fi irelevanta,dar totusi iat-o scrisa aici in aceste randuri.Cand te gandesti la Warcraft o paleta captivanta de imagini iti invadeaza pe nesimtite mintea si in acelasi timp te va purta pe culmile povestii,initial simple:orcii veniti din tinutul Draenor,prin intermediul unui portal interdimensional,ataca locuitorii Azeroth-ului (oamenii).<br>Pe masura ce timpul ne-a lovit zdravan cu palma sa trecatoare,cat ai clipi ne trezim cu mai multe expansion packs si cu o poveste mult mai ampla,ce spusa asa cum trebuie,poate impresiona si umple de creativitate chiar si cele mai critice spirite.Ne ies la iveala: dorinta cutremuratoare a night elf-ului Maiev de a-l captura pe fugarul Illidan Stormrage,calatoria surprinzatoare a printului Arthas pentru a pune mana pe Frostmourn-sabia blestemata.<br>Si totusi,cu terminarea ultimului expansion pack-The Frozen Throne- Arthas,reusind sa obtina sabia,isi uneste spiritul cu cel al lui Lich King devenind astfel o entitate foarte puternica: Arthas,noul Lich King.<br>Spre bucuria fanilor,povestea continua cu World Of Warcraft,doar ca aici gameplay-ul se schimba.Fiind un MMORPG, te apuci frumusel si iti creezi un character pe placul tau.Ai ceva alegeri de facut -incepand cu rasa pe care o preferi pana la alegerea unei clase(aici lucrurile devenind ceva mai complexe-fiecare clasa avand anumite roluri de indeplinit pe parcursul jocului:healer,tank,dps).</p>
		</div>
	
		</section>
	
	<div class="centru"><audio controls>
  
		<source src="Muzica/muzica.mp3" type="audio/mpeg">

	</audio></div>
	<footer>
<hr/>
<p>Data: <time>2019-10-21</time>
<a href="https://ro.wikipedia.org/wiki/East_European_Comic_Con">Mai multe informatii</a>
<a href="#">Sus</a>
</footer>
</body>
</html>