
<!DOCTYPE html>

<html lang="ro">

<head>
	<link rel="stylesheet" type="text/css" href="/Cssprinicpal/preturi.css"/>
	<link rel="stylesheet" type="text/css" href="/Cssprinicpal/style.css"/>
	<link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
	<title>AnimeFest</title>
	<meta charset="UTF-8">
	<meta name="description" content="Eveniment dedicat pasionatilor de anime-uri. Concursuri si premii! ">
	<meta name="keywords" content="Anime, Filme, Comics">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
	<h1><center>AnimeFest </center></h1> 
	<aside><center><font color="turquoise">AnimeFest</font> este o convenție, organizată anual în București, România . Este unul dintre cele mai importante eveniment din Europa de Est dedicat fanilor benzilor desenate, animații, jocuri video, precum și seriale TV și filme.</center></aside>
</header>

<body>
	<div class="navbar">
<a href="#home">Pagina Principala</a>
  <a href="#home">Evenimente</a>
  <a href="#istoric">Istoric</a>
  <a href="#news">Localizare</a>
  <div class="dropdown">
    <button class="dropbtn">Preturi bilete
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Preturi pentru biletele actorilor</a>
      <a href="#">Preturi pentru biletele de acces</a>

    </div>
    </div>
    <div class="dropdown">
    <button class="dropbtn">Altele
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Cosplay</a>
      <a href="#">Standuri</a>
       <a href="#">Anime-uri</a>

    </div>
  </div> 
</div>
	<nav>
		<ol>
			<li><a href="#S1">Evenimente</a>
		<ol>
			<li><a href="#S11"> Concursul de cosplay</a>
		</ol>
			<li><a href="#S2">Istoric</a>
			<li><a href="#S3">Localizare</a>
		</ol>
	</nav>
	<section id="S1">
	<h2>&lt Evenimente &gt </h2>
	<p align="Justify"><span class="tab"></span>Vizitatorii pot participa la <mark>concursuri</mark>, proiecții video și sesiuni speciale cu celebrități de filme și benzi desenate, precum și să cumpere produse specifice acestui tip de eveniment.Cele mai cunoscute concursuri sunt cele de costume Cosplay și Quiz. </p></section>
	<p>
		<section id="S11">Concursul de costume Cosplay are participanții care joacă o piesă scurtă în timp ce poartă costumul unui personaj dintr-un comic, joc video, animație sau film, în timp ce imită gesturile și comportamentele personajului. Concursul Quiz este axat pe anime, manga, seriale TV, benzi desenate și jocuri video. O parte importantă a evenimentului este reprezentată de expozanții și competițiile de jocuri video de pe consolă. AnimeFest este cel mai mare eveniment de jocuri din România.</p></section>
		<h2>&lt  Istoric &gt </h2>
<section id="S2"><p>AnimeFest a început în primăvara anului 2013. La prima ediție, AnimeFest a adunat cu succes peste 9.000 de „geeks”. A deschis ușa unor parteneriate și prietenii fructuoase. Timp de două zile, fanii au putut participa la un <u>concurs Cosplay</u>, la <u>Concursul LOL</u>, la <u>concursul de Quiz</u> și la <u>concurs de ilustrații</u> și au putut vorbi cu artiștii sau să vadă o parte diferită a actorilor preferați. Victor Drujiniu - artist pentru DC Comics și Dark House, și Remus Brezeanu - artistul The End of Times of Bram & Ben, și Puiu Manu - unul dintre cei mai buni artiști de benzi desenate românești, au fost unii dintre cei 22 de artiști prezenți la EECC 2013.</p></section>
<figure>
<center><img title="Pictura" src="https://www.pngfind.com/pngs/m/76-765912_4k-anime-wallpaper-violet-evergarden-hd-png-download.png" alt="painting"></center>
<figcaption>Anime</figcaption>

</figure>
<article>Like last year, this year’s activities will be held on two stages, but this year AnimeFest will change to a new venue at Romexpo.</article>
<article id="S3"><h2> Localizare </h2></article>
<iframe src="https://www.ucv.ro/images/harti/campus.jpg" height="500" width="500"></iframe>

<table>
	<tr>
		<th>Zi</th>
		<th>Bilete(Pret)</th>
	</tr>
	<tr>
		<td>Sambata</td>
		<td>75 lei</td>
	</tr>
	<tr>
		<td>Duminica</td>
		<td>60 lei</td>
	</tr>
	<tr>
		<td>Vineri</td>
		<td>30 lei</td>
	</tr>
</table>
<audio controls>
  <source src="cat.ogg" type="audio/ogg">
  <source src="cat.mp3" type="audio/mpeg">

</audio>
<hr/>
</body>
<footer>
<p>Data: <time>2019-10-21</time>
<a href="https://ro.wikipedia.org/wiki/East_European_Comic_Con">Mai multe informatii</a>

</footer>
</html>