<!DOCTYPE html>
<html lang="ro">
<head>
	<link href="https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="imag/favicon.ico"/>
	<title>Istoric</title>
	<meta charset="UTF-8">
	<meta name="description" content="Istoricul conventiei ">
	<meta name="keywords" content="Viitor, Trecut, Istoric">
	<meta name="author" content="Fictiv">
	<link rel="stylesheet" type="text/css" href="/Cssprincipal/Istoric.css"/>
	<link rel="stylesheet" type="text/css" href="/Cssprincipal/style.css"/>
	<link rel="stylesheet" type="text/css" href="/Cssprincipal/Evenimente.css"/>
	
</head>
<body>
<header>
<%- include("fragmente/header.ejs");%>
</header>

		<div class="barameniu">
		<div class="dr">Animefest</div>
	 <input type="checkbox" id="chk">
    <label for="chk" class="arata-meniu">
      <i class="fas fa-ellipsis-h"></i>
    </label>
		<a href="/">Pagina Principala</a>
		<a href="/Evenimente">Evenimente</a>
		<a href="/Istoric">Istoric</a>
		<a href="/Localizare">Localizare</a>
		<div class="derulare">
			<button class="dropbtn">Preturi bilete
				
			</button>
			<div class="derulare-content">
				<a href="/Preturi">Preturi pentru biletele actorilor</a>
				<a href="/zile">Preturi pentru biletele de acces</a>

			</div>
		</div>
		<div class="derulare">
			<button class="dropbtn">Altele
				
			</button>
			<div class="derulare-content">
				<a href="/cosplay">Cosplay</a>
				<a href="/Anime">Anime-uri</a>

			</div>
		</div> 
		<label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
	</div>
	<div class="centru"><img src="imag/linie.png" width="800" height="100" alt="Linie" title="trandafir"></div>
	<section>
		<div class="alb">
		<div class="centru"><h2> AnimeFest in trecut </h2></div>
		<p> &nbsp;&nbsp; &nbsp; &nbsp; AnimeFest a început în primăvara anului 2013. La prima ediție, AnimeFest a adunat cu succes peste 9.000 de „geeks”. A deschis ușa unor parteneriate și prietenii fructuoase. Timp de două zile, fanii au putut participa la un <u>concustryert Cosplay</u>, la <u>concursulretytr LOL</u>, la <u>concursulsrger de Quiz</u> și la <u>concurswertewr de ilustrații</u> și au putut vorbi cu artiștii sau să vadă o parte diferită a actorilor preferați. Victor Drujiniu - artist pentru DC Comics și Dark House, și Remus Brezeanu - artistul The End of Times of Bram & Ben, și Puiu Manu - unul dintre cei mai buni artiști de benzi desenate românești, au fost unii dintre cei 22 de artiști prezenți la EECC 2013.</p>
		</div></section>
	
	<div class="centru"><img src="imag/linie.png" width="800" height="100" alt="Linie" title="trandafir"></div>
	
	<div class="alb"><section>
		<div class="centru"><h2> AnimeFest in viitor </h2></div>
		<p>&nbsp; &nbsp; &nbsp; &nbsp; Like last year, this year’s activities will be held on two stages, but this year AnimeFest will change to a new venue at Romexpo.</p>
		</section>
		<figure>
			<div class="centru"><img title="HatsuneMiku" src="http://www.pngmart.com/files/8/Miku-Hatsune-PNG-Download-Image.png" alt="painting" ></div>
			<figcaption>Anime</figcaption>
		</figure>
	</div><hr/>
<footer>

<p>Data: <time>2019-10-21</time>
<a href="https://ro.wikipedia.org/wiki/East_European_Comic_Con">Mai multe informatii</a>
<a href="#">Sus</a>
<a href="Evenimente.html">evenimente</a>
</footer>
</body>
</html>