.container {
  position: relative;
  text-align: center;
  color: purple;
  width :800px;
  height :680px;
  font-family: 'Kalam', cursive;
  left:350px;
  font-size: 50px;

}
.centerat {
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translate(-50%, -50%);
}