	<div class="centru"><h1>AnimeFest </h1></div> 
	<div class="centru"><aside>AnimeFest este o convenție, organizată anual în București, România . Este unul dintre cele mai importante eveniment din Europa de Est dedicat fanilor benzilor desenate, animații, jocuri video, precum și seriale TV și filme.</aside></div>
		<% if(locals.username){ %>
		<p class="salut">Salut,<br/><%= username %></p>
	<% } %>